@charset "UTF-8";
/*!
 * ress.css • v4.0.0
 * MIT License
 * github.com/filipelinhares/ress
 */
html {
  box-sizing: border-box;
  word-break: normal;
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
}

*, :after, :before {
  box-sizing: inherit;
  background-repeat: no-repeat;
}

:after, :before {
  vertical-align: inherit;
  text-decoration: inherit;
}

* {
  margin: 0;
  padding: 0;
}

hr {
  overflow: visible;
  height: 0;
  color: inherit;
}

details, main {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden] {
  display: none;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline;
  text-decoration: underline dotted;
  border-bottom: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline-width: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
}

pre {
  font-size: 1em;
}

b, strong {
  font-weight: bolder;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

input {
  border-radius: 0;
}

[disabled] {
  cursor: default;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button, input, optgroup, select, textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[role=button], [type=button], [type=reset], [type=submit], button {
  cursor: pointer;
  color: inherit;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

button, input, select, textarea {
  border-style: none;
}

a:focus, button:focus, input:focus, select:focus, textarea:focus {
  outline-width: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  display: table;
  max-width: 100%;
  white-space: normal;
  color: inherit;
  border: 0;
}

::-webkit-file-upload-button {
  font: inherit;
  color: inherit;
  -webkit-appearance: button;
}

img {
  border-style: none;
}

progress {
  vertical-align: baseline;
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled=true] {
  cursor: default;
}

*, :after, :before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, Roboto, ヒラギノ角ゴシックPro, Hiragino Kaku Gothic ProN, Hiragino Kaku Gothic Pro, NotoSansCJK, モトヤフォント, 游ゴシック Medium, Yu Gothic Medium, YuGothicM, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.3;
  word-wrap: break-word;
  background-color: #fcfcfc;
  overflow-wrap: break-word;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

a, body {
  color: #2a3644;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:hover {
  opacity: 0.7;
}

b, h1, h2, h3, h4, h5, h6, strong {
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

button, input, select, textarea {
  font-size: 1.4rem;
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

input::-ms-clear {
  visibility: hidden;
}

:focus {
  outline: none;
}

ol, ul {
  list-style-type: none;
}

pre {
  overflow: auto;
  padding: 20px;
  color: #fff;
  background-color: #3c3c3c;
}

.cf:after, .cf:before {
  display: table;
  content: "";
}

.cf:after {
  clear: both;
}

@font-face {
  font-family: icomoon;
  font-weight: 400;
  font-style: normal;
  src: url(/common/files/font/icomoon.eot);
  src: url(/common/files/font/icomoon.eot) format("embedded-opentype"), url(/common/files/font/icomoon.woff) format("woff"), url(/common/files/font/icomoon.ttf) format("truetype"), url(/common/files/font/icomoon.svg) format("svg");
}
[class*=" icon-"], [class^=icon-] {
  font-family: icomoon;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.l-main {
  font-family: 游ゴシック, YuGothic, ヒラギノ角ゴ ProN W3, Hiragino Kaku Gothic ProN, メイリオ, Meiryo, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #333;
  background: #fcfcfc;
  background-color: #fff;
}

/*===============================
FOUNDATIONここまで  Not touch!
=================================*/
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}/*# sourceMappingURL=style.css.map */